#karusel1 .slick.track:before {
    width:100%;
}
#karusel1 .slick.track:after {
    width:100%;
}
.ha .col-md-1  {
    margin-right:0;

}
.slick-slide{
    padding-left:2.5em;
    padding-right:2.5em;
}
   
#karusel1 .slick-next:before { 
    display:none !important;
 
 }
 #karusel1 .slick-prev:before { 
    display:none !important;
 
 }

/* .slick-prev:before, .slick-next:before {
    color: #2ecc71 !important;
    font-size: 40px !important;

} */
.cls-1 {
    fill: #dadada;
    fill-rule: evenodd;
  }
 #twitter:hover .cls-1{
    fill: #1DA1F2;
    fill-rule: evenodd;
  }
  #facebook:hover .cls-1 {
    fill: #3b5998;
    fill-rule: evenodd;
  }
  #rss:hover .cls-1 {
    fill:#f69537;
    fill-rule: evenodd;
  }
  #pinterest:hover .cls-1 {
    fill:#BD081c;
    fill-rule: evenodd;
  }
  #googlep:hover .cls-1 {
   
    fill: #ef5b49;
    fill-rule: evenodd;
  }
  #dribble:hover .cls-1 {
    fill:#EA4C89;
    fill-rule: evenodd;
  }
.navbar {
padding-right:0;
padding-bottom:0;
}
#header {
    margin-top:1em;
    
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
   
}

.container {
    max-width: 970px;
}
.row {
    margin:0;
    padding:0;
}


#smedia{

    display:flex;
   align-content: center;
   justify-content: flex-end;

}
a{  

    
    font-family: 'Novecento sans wide Light';
    color:#8a8a8a;

}
iframe {
    width: 100%;
}

#all  a:visited {
    color:#43b765;
}
a#home {
    color:#43b765;

}
a#about {
    color:#43b765;

}
a#contact {
    color:#43b765;

}
a#work {
    color:#43b765;

}
a:visited {

    text-decoration: none;

    
}

a:hover{

    text-decoration: none;
    color:#43b765;


}
ul {
  
}
li {

}

hr{
    width: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color:#929090;
   
}
h4, h5{
    color:#737373;
    font-family: 'Novecento sans wide Light';
}
.media{
   padding-left:0.5em;
   padding-top:0.3em;
}
.izbor{
    margin-bottom: 1em;
   margin-right: 1em;
}


/*Elementi stranice glavne HOME*/

.bgimage {
    background-image: url("../Images/Assets/Home/Slider.png");
   
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
   
 
}
.uredjaji {
    animation: fadeIn 1s 0.5s;
    animation-fill-mode: both;   
width: 90%;
}
#uredjaji{
    padding-top: 2em;
    
}
.paragraf1 {
    animation: fadeIn 1s 1s;
    animation-fill-mode: both;
}
.paragraf1 p {
    font-size: 1rem;
    text-align: center;
    margin-top: 2em;
   
  
}

.dugme{
    display: flex;
    justify-content: center;
    padding-bottom:2em;
    padding-top:0.5em;
    animation: fadeIn 1s 1s;
    animation-fill-mode: both;
}

#sekcija2{
    background-color: #efefef;

}
.sekcija2{
    padding-top:2em;
    padding-bottom:2em;

}
.popupbut {
    width:100%;
   
}

.yt {
    position: absolute;
    width:100%;
    height:100%;
   
}

.paragraf2 p {
font-size: 1em;
line-height: 1.35em;
text-align: left;
}
.paragraf2 {
   padding:0;
}
.paragraf2{
    padding-top:1.5em;
}

.paragraf3 p {
    font-size: 1em;
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
}
.paragraf3 h4 {
    text-align: center;
    margin-bottom:0;
    padding-top:2em;
}
.paragraf3{
    padding-bottom:1em;
}

.karusel1 {
    padding:0;
}
.variable-width {
    width: 310px;
}
.slick-initialized {
    overflow-x: hidden;
}
.karuselitemsl {
    width: 95%;
}
.karusel {
    
    padding-top:0.5em;
   
}
.darkit {
    text-align: center;
    font-size: 1.2em;
    padding-top:2em;
    color:#8a8888;
}
/*Work*/

.headerboja {
    background-color:#2ecc71;
    
}

.headerboja h4{
    color:white;
    font-family: 'Novecento sans wide Light';
    margin:0;
    padding-bottom: 1em;
    padding-top:1em;
}
.ikonice {
    
    color:#737373;
  }
  .category-container h5 {
      color:#737373;
      font-size: 0.9em;
      margin-right: 0.78em;
      margin-bottom: 0;
      padding-top:0.5em;

  }
 
.ikonice {
    margin-top:0.4em;
    margin-left :0.3em;
}


#filter {
   margin-top:1em;
}
#filteri h5 {
    float:left;
    color:#737373;
    font-size: 0.9em;
    margin-right: 0.78em;
    margin-bottom: 0;
    padding-top:2em;
}
#portfolio {
   
}
.item {
    padding:0;
}
#portfolio-row
{
  
}

.portfolioimg {
    width: 100%;
    height:220px;
    object-fit: cover;
   padding-top: 1em;
    padding-bottom: 1em;
   padding-right: 1em;
   padding-left:1em;

}
.hide {
  display:none;
 
}


.listapregled {
    display:block;
    overflow: hidden;

}
.ale{display:1;}

#navbar-work .dropdown-item {
    color:#737373;
}
#navbar-work .dropdown-item:hover {
    background-color : #eaeaea;
}
#navbar-work {
    padding:0;
}
#selected {
    padding:0;
}


.dropdown-toggle {
    padding:0;
}
#filteri {
    display: flex;
    align-content: center;
}
#search-header {
    margin-top: 1em;
}
#search-header .container-filter {
    margin-top:2em;
    margin-bottom:1em;
}
/*Contact*/

.mapa {
   
    width:100%;
    height:500px;
    
    
}

.mapa1 {
 
 
}
.pozadinadiv {
    width: 100%;
    height:200px;
    
    position: relative;
    
}

.sve {
padding-top :2em;
}
.input {
    margin-top:1em;
    padding:0.5em;
    border: 1px solid;
}
.contactinfo h4 {
    margin-bottom : 1.2em;
  
}
.sendmessage {
    padding-top:1em;
}
.mail {

    text-transform: none;
    color: #2ecc71;
}

.sendmessage {
    font-family: 'Novecento sans wide Light';
    color:white;
    font-size: 2em;
    border:0px white;
    padding:0.5em 1em;
    background-color :#2ecc71;    
   vertical-align: middle;
    margin-top:0.5em;
    margin-bottom: 1em;
}

.sendmessage:disabled {
    background-color: grey;
    cursor:not-allowed;
}
button h6 {
    margin: 0;
}

button:hover {
    cursor:pointer;
}


.skr 
{
    background-color : grey;    
}
/*about*/
#about-section{
    padding:0;
}
#about-section{
 padding-top:2.5em;
}
#about-section p {
    
    font-size: 0.9rem;
}
.bout {
    width: 100%;

    object-fit: cover;
    
}
.par2 {
    margin-top:1em;
}
.par2 p {
    margin-top:1em;
    margin-bottom :1em;
  
}
.naslov-tab {
    margin-top:2em;
    margin-bottom:2em;
}
.tabovi {
    display: flex;
    justify-content:center;
    align-content: center;
}
.tabs {
    background-color:#efefef;
}

.tabs img {
    padding :3em;
}


.tabovi:hover {
    background-color:#dadada;
    cursor: pointer;
}
.tabovi:visited {
    background-color:#dadada;
}

.text-flow {
    margin-top:1em;
}
.text-flow ul {
    color:#929090;
}
.visitedactive {
    background-color:#dadada;
}

/*futer*/

#footer {
    
    background-color:#322f2f;
}
div#nasl {
    margin-top:0.5em;

}
#footer h4 {
    color:white;
    margin:0;
    padding-bottom:0.5em;

}
.footer {
padding-top:2.5em;
padding-bottom:2.5em;
}

#footer2 {
    background-color:#efefef;
}
.footer2 a, h5 {
    text-align: left;
    color:#cacaca;
    font-size:0.7em;
}
.footer21 a {
    font-size:0.7em;
}
.footer2{
    padding-top:0.8em;
    padding-bottom:0.5em;
}
.footer21{
    padding-top:0.3em;
    
}


#footer2 {
    font-style: 'Novecento sans wide Light';
}
.footer2 a:hover{
    color:#43b765;


}
.conten1 {
    min-height: calc(100vh - 70px);
  }
  .footerst {
    height: 50px;
  }

  .clickhere {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  .clickheredugme {
    font-family: 'Novecento sans wide Light';
    color:white;
    font-size: 2em;
    border:0px white;
    padding:0.5em 1em;
    background-color :#2ecc71;    
   vertical-align: middle;
   
  }


  /*MFP*/
  .mfp-iframe-holder {
      width: 100%;
      height: 100%;
  }
  .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/*media queries*/
@media (min-width:300px) {
    .footer21 {
        text-align: center;
    } }
@media (min-width:999px) {
    .footer21 {
        text-align: right;
    }
}

/*efekti*/
@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}