.ha .col-md-1  {
    margin-right:0;

}
.slick-slide{
    padding-left:2.5em;
    padding-right:2.5em;
}
   
.slick-prev:before, .slick-next:before { 
    color:#2ecc71 !important;
 
    font-size: 50px !important;
  

}

.navbar {
padding-right:0;
padding-bottom:0;
}
#header {
    margin-top:1em;
    
}
.container {
   max-width: 970px;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
   
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
#smedia{

    display:flex;
   align-content: flex-end;
   justify-content: flex-end;

}
a{  

    
    font-family: 'Novecento sans wide Light';
    color:#8a8a8a;

}

.izbor:active {
    color:#43b765;

}

a:visited {

    text-decoration: none;

    
}

a:hover{

    text-decoration: none;
    color:#43b765;


}
ul {
  
}
li {

}

hr{
    width: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:#929090;
   
}
h4, h5{
    color:#737373;
    font-family: 'Novecento sans wide Light';
}
.media{
   padding-left:0.5em;
   padding-top:0.3em;
}
.izbor{
    margin-bottom: 1em;
   margin-right: 1em;
}


/*Elementi stranice glavne HOME*/

.bgimage {
    background-image: url("../Images/Assets/Home/Slider.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
   
 
}
.uredjaji {
   
width: 90%;
}
#uredjaji{
    padding-top: 2em;
}
.paragraf1 p {
    font-size: 1em;
    text-align: center;
    padding-top:2em;
  
}

.dugme{
    display: flex;
    justify-content: center;
    padding-bottom:2em;
    padding-top:0.5em;
}

#sekcija2{
    background-color: #efefef;

}
.sekcija2{
    padding-top:2em;
    padding-bottom:2em;

}
.video {
    width: 100%;
    height:0;
    padding-bottom:56%;
    position: relative;
}
.yt {
    position: absolute;
    width:100%;
    height:100%;
    padding:0;
}

.paragraf2 p {
font-size: 1em;
padding-top:1em;
line-height: 1.35em;
text-align: left;
}
.paragraf2 {
   
}
.paragraf2{
    padding-top:1.5em;
}

.paragraf3 p {
    font-size: 1em;
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
}
.paragraf3 h4 {
    text-align: center;
    margin-bottom:0;
    padding-top:2em;
}
.paragraf3{
    padding-bottom:1em;
}
.karuselitemsl{

    
 width:120%;
 height:120%;
    
  
}
.variable-width {
    width: 310px;
}
.karuselkont {
    width:100%;
  
}
.karusel {
    
    padding-top:0.5em;
   
}
.darkit {
    text-align: center;
    font-size: 1.2em;
    padding-top:2em;
    color:#8a8888;
}
/*Work*/

.headerboja {
    background-color:#2ecc71;
    
}

.headerboja h4{
    color:white;
    font-family: 'Novecento sans wide Light';
    margin:0;
    padding-bottom: 1em;
    padding-top:1em;
}
.ikonice {
    color:#737373;
  }
  .category-container h5 {
      color:#737373;
      font-size: 0.9em;
      margin-right: 0.78em;
      margin-bottom: 0;
      padding-top:0.5em;

  }
 
.ikonice {
    margin-top:0.4em;
    margin-left :0.3em;
}


#filter {
   margin-top:1em;
}
#filteri>h5 {
    float:left;
    color:#737373;
    font-size: 0.9em;
    margin-right: 0.78em;
    margin-bottom: 0;
    padding-top:0.5em;
}


.portfolioimg {
   object-fit: cover;
   width:100%;
   height:100%;
    padding:0;
    padding-top:2em;
}




.hide {
  display:none;
 
}


.listapregled {
    display:block;
    overflow: hidden;

}
.ale{display:1;}


/*Contact*/

.mapa {
   
    width:100%;
    height:500px;
    
    
}

.mapa1 {
 
 
}
.pozadinadiv {
    width: 100%;
    height:200px;
    
    position: relative;
    
}

.sve {
padding-top :2em;
}
.input {
    margin-top:1em;
    padding:0.5em;
    border: 1px solid;
}
.contactinfo h4 {
    margin-bottom : 1.2em;
  
}
.sendmessage {
    padding-top:1em;
}
.mail {

    text-transform: none;
    color: #2ecc71;
}

.forma button {
    font-family: 'Novecento sans wide Light';
    color:white;
    font-size: 2em;
    border:0px white;
    padding:0.5em 1em;
    background-color :#2ecc71;    
   vertical-align: middle;
    margin-top:0.5em;
    margin-bottom: 1em;
}
button h6 {
    margin: 0;
}

button:hover {
    cursor:pointer;
}
/*about*/

.sveaaa{
 padding-top:2.5em;
}
.bout {
    width: 100%;
    margin-bottom: 1em;
}
.par2 {
    margin-top:1em;
}
.par2 p {
    margin-top:1em;
    margin-bottom :1em;
}
.naslov-tab {
    margin-top:2em;
    margin-bottom:2em;
}
.tabovi {
    display: flex;
    justify-content:center;
    align-content: center;
}
.tabs {
    background-color:#efefef;
}

.tabs img {
    padding :3em;
}


.tabovi:hover {
    background-color:#dadada;
    cursor: pointer;
}
.tabovi:visited {
    background-color:#dadada;
}

.text-flow {
    margin-top:1em;
}
.text-flow ul {
    color:#929090;
}
.visitedactive {
    background-color:#dadada;
}

/*futer*/

#footer {
    
    background-color:#322f2f;
}
div#nasl {
    margin-top:0.5em;

}
#footer h4 {
    color:white;
    margin:0;
    padding-bottom:0.5em;

}
.footer {
padding-top:2.5em;
padding-bottom:2.5em;
}

#footer2 {
    background-color:#efefef;
}
.footer2 a, h5 {
    text-align: left;
    color:#cacaca;
    font-size:0.7em;
}
.footer21 a {
    font-size:0.7em;
}
.footer2{
    padding-top:0.8em;
    padding-bottom:0.5em;
}
.footer21{
    padding-top:0.3em;
    
}
#footer2 {
    font-style: 'Novecento sans wide Light';
}
.footer2 a:hover{
    color:#43b765;


}
.conten1 {
    min-height: calc(100vh - 70px);
  }
  .footerst {
    height: 50px;
  }

  .clickhere {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
  .clickheredugme {
    font-family: 'Novecento sans wide Light';
    color:white;
    font-size: 2em;
    border:0px white;
    padding:0.5em 1em;
    background-color :#2ecc71;    
   vertical-align: middle;
   
  }
